@font-face
{
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(MaterialIcons-Regular.woff) format('woff');
}

.material-icons
{
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

*
{
	box-sizing: border-box;
	user-select: none;
}

body
{
	background-color: #212121;
}

.grid-container
{
	display: grid;
	position: fixed;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	border: solid transparent 0.25rem;
	grid-template-columns: auto 1fr;
	grid-template-rows: 50% 50%;
}

.panel1
{
	grid-column: 1 / 2;
	grid-row: 1 / 2;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-row-gap: 0.5rem;
	border: solid transparent 0.25rem;
}

.panel2
{
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-row-gap: 0.5rem;
	border: solid transparent 0.25rem;
}

.panel3
{
	grid-column: 2 / 3;
	grid-row: 1 / 3;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-row-gap: 0.5rem;
	border: solid transparent 0.25rem;
}

.box
{
	border-radius: 0.25rem;
	border: 1px solid #424242;
	background-color: #212121;
	overflow: auto;
}

.no-margin
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.select-fit
{
	height: auto !important;
	border: none !important;
}

.text-fit
{
	height: 2rem !important;
	border: none !important;
	border-bottom: #37474F 2px solid !important;
}

.right
{
	right: 0px;
}

.center-container
{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.floating-thead
{
	position: absolute; 
	z-index: 10;
}

.left-round
{
	border-radius: 0.25rem 0 0 0.25rem;
}

.right-round
{
	border-radius: 0 0.25rem 0.25rem 0;
}

.no-round
{
	border-radius: 0 0 0 0;
}

.flexbox-col
{
	display: flex;
	flex-direction: column;
}

.lyric-grid
{
	display: grid;
	grid-template-columns: 6rem 1fr;
}

.flexbox-row
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.lyric-index
{
	color: white;
	margin: auto;
	font-weight: bold;
	font-size: 2rem;
}

.lyric-box
{
	border: solid transparent 0.25rem;
	border-radius: 0.25rem;
	height: 10rem;
	width: 16rem;
	display: grid;
	color: white;
}

.spacer
{
	border: solid transparent 0.25rem;
}

.smallspace
{
	height: 0.45rem;
}

.center
{
	margin: auto;
}

.color-trans
{
	transition: all 0.1s ease-in;
}

.color-trans:hover
{
	background: #898989;
}