<!DOCTYPE html>
<html>
	<head>
		<link href="css/style.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	</head>
	<body>
		<div id='app' class='grid-container'>
			<div id='panel1' class='panel1'>
				<div class='controls'>
						<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Add selected song to queue' v-on:click='add_to_queue(panel2.search_results_sel)' :disabled='panel2.search_results_sel === -1'><i class="material-icons">add_circle_outline</i></a>
						<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Remove selected song from queue' v-on:click='remove_from_queue(panel1.queue_sel)' :disabled='panel1.queue_sel === -1 || panel3.presentation'><i class="material-icons">remove_circle_outline</i></a>
						<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Empty queue' v-on:click='empty_queue()' :disabled='panel1.queue.length === 0 || panel3.presentation'><i class="material-icons">remove_shopping_cart</i></a>
						&nbsp;&nbsp;&nbsp;
						<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Move the selected song up' v-on:click='queue_move_up(panel1.queue_sel)' :disabled='panel1.queue_sel <= 0'><i class="material-icons">keyboard_arrow_up</i></a>
						<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Move the selected song down' v-on:click='queue_move_down(panel1.queue_sel)' :disabled='panel1.queue_sel === -1 || panel1.queue_sel === panel1.queue.length - 1'><i class="material-icons">keyboard_arrow_down</i></a>
						&nbsp;&nbsp;&nbsp;
						<span class='input-field inline no-margin' style='width: 10rem'>
							<select id='playlists' class='browser-default blue-grey darken-3 white-text select-fit' v-model='panel1.playlists_selected'>
								<option value=-1 disabled selected>(Not Saved)</option>
								<option v-for='(value, index) in panel1.playlists':value = 'index'>{{value.name}}</option>
							</select>
						</span>
						<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Save current queue to current playlist' :disabled='panel1.playlists_selected === -1 || panel1.queue.length === 0'><i class="material-icons">save</i></a>
						<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Save current queue to new playlist' :disabled='panel1.queue.length === 0'><i class="material-icons">insert_drive_file</i></a>
						<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Delete current playlist' :disabled='panel1.playlists_selected === -1'><i class="material-icons">delete_forever</i></a>
				</div>
				<div class='box'>
					<table class='highlight white-text' v-bind:style='{ width: etc.left_table_fixed_width + "px" }'>
						<thead>
							<tr>
								<th>Title</th>
								<th>File Name</th>
								<th>First Line</th>
								<th>Chorus Line</th>
								<th>Folder</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for='(value, index) in panel1.queue' v-on:click='select_queue(index); panel1.queue_sel = index;' v-bind:class='{ "grey darken-2": index === panel1.queue_sel }'>
								<th class='left-round'>{{value.title}}</th>
								<th class='no-round'>{{value.file_name}}</th>
								<th class='no-round'>{{value.first_line}}</th>
								<th class='no-round'>{{value.chorus_line}}</th>
								<th class='right-round'>{{value.folder_name}}</th>
							</tr>
						</tbody>
					</table>'
				</div>
			</div>
			<div class='panel2'>
				<div class='controls'>
						<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Refresh library' v-on:click='refresh_library' :disabled='panel3.presentation'><i class="material-icons">cached</i></a>
						<span class='right'>
							<span class='input-field inline no-margin'>
								<input type='text' class='browser-default transparent white-text no-margin text-fit' placeholder='Search' v-model='panel2.search_text' v-on:keyup='search_keypress'>
							</span>
							<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Search from library' v-on:click='search(panel2.search_text)' :disabled='!panel2.search_text'><i class="material-icons">search</i></a>
						</span>
				</div>
				<div v-if='panel2.search_results.length === 0' class='box valign-wrapper white-text center-container'>
					<div>Search something!</div>
					<div>{{panel2.librarysize}} songs in {{panel2.library}}</div>
					<div>Incorrect number shown above? Refresh the library!</div>
				</div>
				<div v-else class='box'>
					<table class='highlight white-text' v-bind:style='{ width: etc.left_table_fixed_width + "px" }'>
						<thead>
							<tr>
								<th>Title</th>
								<th>File Name</th>
								<th>First Line</th>
								<th>Chorus Line</th>
								<th>Folder</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for='(value, index) in panel2.search_results' v-on:click='panel2.search_results_sel = index' v-bind:class='{ "grey darken-2": index === panel2.search_results_sel }'>
								<th class='left-round'>{{value.title}}</th>
								<th class='no-round'>{{value.file_name}}</th>
								<th class='no-round'>{{value.first_line}}</th>
								<th class='no-round'>{{value.chorus_line}}</th>
								<th class='right-round'>{{value.folder_name}}</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class='panel3'>
				<div class='controls'>
					<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Close presentation window and show desktop' :disabled='!panel3.presentation'><i class="material-icons">desktop_windows</i></a>
					<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Empty text' :disabled='!panel3.slides_sel || !panel3.presentation'><i class="material-icons">aspect_ratio</i></a>
					<a class="waves-effect waves-light btn-flat btn-small blue-grey darken-3 white-text" title='Start presentation / Show Text' v-on:click='start_presentation()' :disabled='panel3.presentation'><i class="material-icons">play_arrow</i></a>
					<span class='btn-flat btn-small transparent white-text right'>
						<span></span>
						<span id='currentTime' v-on:click='show_easter_egg'>{{panel3.current_time}}</span>
					</span>
				</div>
				<div class='box'>
					<div class='spacer'>
						<div class='flexbox-col'>
							<div class='lyric-grid' v-for='(value) in panel3.slides'>
								<div class='lyric-index'>
									{{value.index == -1 ? '' : value.index}}
								</div>
								<div class='flexbox-row'>
									<div class='lyric-box' v-for='v in value.lyrics'>
										<div class='box valign-wrapper color-trans' v-on:click='panel3.slides_sel = v; update_presentation();' v-bind:class='{ "grey darken-2": v === panel3.slides_sel }'>
											<span class='center' v-html='v'></span>
										</div>
									</div>
								</div>
								<div class='smallspace'></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script>
			const { ipcRenderer } = require('electron');

			const app = new Vue(
			{
				el: '#app',
				data: 
				{
					panel1: 
					{
						playlists_selected: -1,
						playlists: 
						[
							{
								name: "list1"
							},
							{
								name: "list2"
							}
						],
						queue: [],
						queue_sel: -1
					},
					panel2: 
					{
						librarysize: 0,
						library: 'C:/randomfoler/whatever',
						search_text: '',
						search_results: [],
						search_results_sel: -1
					},
					panel3: 
					{
						current_time: (new Date()).toLocaleTimeString(),
						slides: [],
						slides_sel: '',
						presentation: false
					},
					etc:
					{
						left_table_fixed_width: 0
					}
				},
				methods:
				{
					log: (data) =>
					{
						console.log(data);
					},
					show_easter_egg: () =>
					{
						if(++easteregg === 5) { alert('UwU you found an easter egg'); easteregg = 0; }
					},
					refresh_library: () =>
					{
						M.toast(
						{
							html: '<span>Refreshing library will take some time!<br>(Application might freeze in the process,<br>depending on the size of your library)</span><button class="btn-flat toast-action" onclick="ipcRenderer.send(\'refresh_library\');">continue</button>',
							displayLength: 6000,
							classes: 'blue-grey darken-3'
						});
					},
					search_keypress: (e) =>
					{
						if(e.keyCode === 13) app.search(app.panel2.search_text);
					},
					search: (text) =>
					{
						app.panel2.search_results_sel = -1;
						if(text.trim() === '') app.panel2.search_results = '';
						else ipcRenderer.send('search', text);
					},
					add_to_queue: (num) =>
					{
						app.panel1.queue.push(app.panel2.search_results[num]);
					},
					remove_from_queue: (num) =>
					{
						app.panel1.queue.splice(num, 1);
						app.panel1.queue_sel = -1;
					},
					empty_queue: () =>
					{
						app.panel1.queue = [];
						app.panel1.queue_sel = -1;
					},
					queue_move_up: (num) =>
					{
						app.panel1.queue.splice(num - 1, 0, app.panel1.queue.splice(num, 1)[0]);
						app.panel1.queue_sel--;
					},
					queue_move_down: (num) =>
					{
						app.panel1.queue.splice(num + 1, 0, app.panel1.queue.splice(num, 1)[0]);
						app.panel1.queue_sel++;
					},
					select_queue: (num) =>
					{
						ipcRenderer.send('load_song', app.panel1.queue[num].path);
					},
					start_presentation: () =>
					{
						console.log('sp')
						ipcRenderer.send('start_presentation');
					},
					update_presentation: () =>
					{
						ipcRenderer.send('update_presentation', app.panel3.slides_sel);
					}
				}
			});

			ipcRenderer.on('search_result', (event, data) =>
			{
				if(data.length === 0)
				{
					M.toast(
					{
						html: 'No result!',
						classes: 'blue-grey darken-3'
					});
				}
				app.panel2.search_results = data;
			});

			ipcRenderer.on('update_slides', (event, data) =>
			{
				app.panel3.slides = data;
			});

			ipcRenderer.on('log', (event, data) => { console.log(data) });
			ipcRenderer.on('alert', (event, data) => { alert(data) });

			app.panel1.playlists = [];

			let easteregg = 0;
			const updateTime = () => { app.panel3.current_time = (new Date()).toLocaleTimeString(); };
			setInterval(updateTime, 100); 
			app.etc.left_table_fixed_width = document.getElementById('panel1').clientWidth; // temporary workaround (aka horrible hack that I wrote)
		</script>
	</body>
</html>